nav{
    background-color: #333;
    height: 10vh;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    .links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{
        text-decoration: none;
        }
    }
    #logo{
        place-self: center;
    }
    button{
        place-self: center;
        max-height: 50px;
        max-width: 50px; 
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;        
        
    }
}